[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git@github.com:opscode-cookbooks/python.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "cookbooks/ssh"]
	path = cookbooks/ssh
	url = https://github.com/markolson/chef-ssh
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
